.hizmetler{
    background-color: #F5F5F7;
    .container{
        .h3{
            font-weight: bold;
            font-size: 40px;
            color: #152B59;
            @include respond(small){
                font-size: 30px;
             }
        }
        .row{
            .owl-carousel{
                .owl-stage-outer{
                    
                    .owl-stage{
                        margin-top: 20px;
                        .owl-item{
                            transition:all 0.3s;
                            height: 430px;
                            background: #F5F5F7 ;
                            box-shadow: 10px 10px 10px #00000029,-10px -10px 10px #FFFFFF;
                           
                            border: none;
                            border-radius: 28px;
                            padding: 10px;
                            @include respond(xsmall){
                                height: 530px;
                             }
                            .header{
                                letter-spacing: 3.56px;
                                color: #98C78D;
                                font-size:92px ;
                                font-weight: bold;
                            }
                            .header-p{
                                color: #152B5A;
                                font-size: 25px;
                                font-weight: bold;
                            }
                            .content{
                                letter-spacing: 0px;
                                color: #152B5A;
                                font-size: 20px;
                            }
                            .detail{
                                
                                a{
                                    letter-spacing: 0px;
                                    font-size: 21px;
                                    font-weight: bold;
                                    color: #152B59;
                                    text-decoration: none;
                                }
                                
                            }
                            
                        }
                        .owl-item:hover{
                            opacity: 0.8;
                        }
                    }
                }
                .owl-prev {
                    width: 15px;
                    height: 100px;
                    position: absolute;
                    top: 40%;
                    margin-left: -30px;
                    display: block !important;
                    border:0px solid black;
                    
                }
                
                .owl-next {
                    width: 15px;
                    height: 100px !important;
                    position: absolute;
                    top: 40%;
                    right: 0px;
                    display: block !important;
                    border:0px solid black;
                }
            }
        }
    }
}