/*FONT*/
@import url('../../fonts/Aller/stylesheet.css');

$yellow: #FFB11B;
$white: #fff;
$bg1: #35363A;
*{
	outline-color: black;
}
h1{
	font-size: 41px;
	font-family: 'allerregular';
	color: $yellow;
}
h2{
	font-size: 22px;
}
h3{
	color: $white;
	// font-weight: lighter;
	// line-height: 150px;
	letter-spacing: 10px;
	font-size: 30px;
	// font-style: italic;
}
hr{
	margin-top: 20px;
}
body{
	// background-color: #FFFCA6;
}
/*CENTER CONTAINER*/
.center{
	width: 80%;
	margin: 0 auto;
}
/*CENTER CONTAINER*/
/*HEADER*/
header{
	// background-image: url("../../images/gold_blue_patrick_brahma/gold_blue_patrick_brahma_4.jpeg");
	background-image: url("../../images/img_1.jpg");
	background-size:cover;
	// background-position: -200px 0;
	background-repeat: no-repeat;
	height: 100vh;
	// background-color: red;
	// display: flex;
	.header_caption{
		height: 100vh;
		background-color: rgba(0,0,0,.5);
	}
	.header_top{
		height: 50px;
	}
	.header_center{
		// height: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.logo{
			h1{
				// font-family: 'allerregular';
			}
		}
		.follow{
			// margin-top: -35px;
			a{
				i{
					padding: 10px 20px;
					font-size: 25px;
					background-color: rgba(0,0,0,.1);
					color: $white;
				&:hover{
					cursor: pointer;
					background-color: rgba(0,0,0,.2);
				}
				}
			}
		}
	}
	.header_bottom{
		// height: 50px;
		// display: flex;
		// flex-direction: row;
		// justify-content: space-around;
		// align-items: center;
		// align-content: center;
		.navbar{
			ul{
				display: flex;
				flex-direction: row;
				justify-content: center;
				// align-items: center;
				// align-content: center;
				li{
					// float: left;
					// width: 25%;
					text-align: center;
					a{
						line-height: 50px;
						display: block;						
						padding: 0 20px;
						color:#fff;
						font-family: 'allerregular';
					&:hover{
						background-color: rgba(0,0,0,.3);
						// color: #fff;
					}
					}
				}
			}
		}
	}
}
/*FOOTER*/
footer{
	// height: 500px;
	background-color: $bg1;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 50px;
	// .center{
	// 		// width: 90%;
	// 	}
	.motto{
		margin-top: 50px;
		// display: flex;
		// justify-content: center;
		// align-items: center;
		// align-content: center;
		text-align: center;
		p{
			color: $yellow;
			letter-spacing: 3px;
			// line-height: 20px;
			font-size: 20px;
		}
	}
	.footer_bottom{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 50px;
		.f_b_left{
			width: 30%;
			.logo{
				h1{
					color: $white;
				}
			}
		}
		.f_b_right{
			width: 60%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			.pages{
				width: 30%;
				// margin: 20px 0;
				ul{
					text-align: center;
					li{
						padding-bottom: 15px;
						a{
							display: block;
							padding-bottom: 10px;
							color: $yellow;
							transition: all 111ms;
							border-bottom: 2px solid rgba(0,0,0,0);
							font-family: 'allerregular';
						&:hover{
							border-bottom: 2px solid $yellow;
						}
						}
					}
				}
			}
			.k_words{
				width: 50%;
				p{
					font-family: 'allerregular';
					color: $white;
					line-height: 20px;
				}
			}
		}
	}
}
@media screen and (min-width: 1440px){
	.center{
		width: 50%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1030px){
	header{
		height: 600px;
		.header_caption{
			height: 600px;
		}
	}
}
@media screen and (max-width: 770px){
	h1{
		font-size: 30px;
	}
	header{
		.header_caption{
		}
		.header_top{
		}
		.header_center{
			.logo{
				h1{
				}
			}
			.follow{
				a{
					i{
						font-size: 20px;
					}
				}
			}
		}
		.header_bottom{
			.navbar{
				ul{
					li{
						a{
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	/*FOOTER*/
	footer{
		.motto{
			p{
				font-size: 18px;
			}
		}
		.footer_bottom{
			.f_b_left{
				.logo{
					h1{
					}
				}
			}
			.f_b_right{
				.pages{
					ul{
						li{
							a{
								font-size: 14px;
							}
						}
					}
				}
				.k_words{
					p{
						font-size: 14px;
					}
				}
			}
		}
	}

}
@media screen and (max-width: 540px){
	h1{
		font-size: 22px;
	}
	header{
		.header_caption{
		}
		.header_top{
		}
		.header_center{
			.logo{
				h1{
				}
			}
			.follow{
				a{
					i{
						font-size: 15px;
					}
				}
			}
		}
		.header_bottom{
			.navbar{
				ul{
					li{
						a{
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	/*FOOTER*/
	footer{
		.motto{
			p{
				font-size: 14px;
			}
		}
		.footer_bottom{
			.f_b_left{
				.logo{
					h1{
					}
				}
			}
			.f_b_right{
				.pages{
					ul{
						li{
							a{
								font-size: 13px;
							}
						}
					}
				}
				.k_words{
					p{
						font-size: 11px;
					}
				}
			}
		}
	}
}





















