//.a
//display: flex;
//justify-content: space-between !important;

.navbar-wrapper {
  .brand {
    a {
      img {
        height: 48px;
      }

      .brand-content {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        letter-spacing: 0px;
        color: #152b59;

        .brand-head {
          margin: 0;
          padding: 0;
          font-size: 24px;
          font-weight: bold;
          line-height: 30px;
        }

        .cont {
          font-size: 15px;
          line-height: 15px;
          padding: 0;
          margin: 0;
          font-weight: 500;
        }
      }
    }
  }

  .custom-navbar {
    justify-content: end;

    ul {
      li {
        margin: 5px;


        a.nav-link {
          font-size: 20px;
          font-weight: 400;
          color: #152b59;
        }

        .has-hover {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: transparent;
            transition: 333ms all ease-out;
          }

          &:hover {
            &:after {
              background-color: #152b59;
            }
          }
        }
      }

      li:nth-child(5) {
        background-color: #152b59;
        border: 1px solid transparent;
        padding: 0 35px;
        border-radius: 38px;

        a {
          color: white;
          border: none;
        }
      }

      li:nth-child(5):hover {
        background: transparent;
        border: 1px solid #152b59 !important;

        a {
          border: none !important;
          color: #152b59;
          border: none;
        }
      }
    }
  }
}
