$border_color: #e1e1e1;
// Extra extra large devices (tv, 1440px and up)
@media screen and (min-width: 1440px) {
    #product-details {
        .wrapper {
            // min-height: 170px;
            font-size: 14px !important;
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media screen and (max-width: 1200px) {
    .orders-web-menu {
        display: none;
    }
    #navbar {
        nav {
            .nav {
                width: 800px !important;
            }
        }
    }
    #product-details {
        .wrapper {
            font-size: calc(0.3em + 0.8vw) !important;
        }
    }
}
// Large devices (desktops, 992px and up)
@media screen and (max-width: 992px) {
    #form-box {
        .row {
            .row {
                .col-sm-6 {
                    &:nth-child(3) {
                        padding-right: 15px;
                    }
                }
            }
            .last-group {
                .input-container {
                    .input-width {
                        &:first-child {
                            padding-left: 15px;
                        }
                        &:last-child {
                            padding-right: 15px;
                        }
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                }
                .last {
                    margin-top: 0.25rem !important;
                    .btn-primary {
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
    // product-border-2
    #product-details {
        .wrapper {
            font-size: 16px !important;
            // .product-border-4 {
            //     position: absolute;
            //     bottom: 165px;
            //     .inside {
            //         border-top: 1px solid $border_color;
            //     }
            // }
            // .product-border-3 {
            //     position: absolute;
            //     bottom: 110px;
            //     .inside {
            //         border-top: 1px solid $border_color;
            //     }
            // }
            .product-border-2 {
                // bottom: 60px !important;
                display: none;
                .inside {
                }
            }
            .product-border-1 {
                // bottom: 60px !important;
                display: none;
                .inside {
                }
            }
            .row {
                &:nth-of-type(2){
                    .col-lg-4:nth-of-type(n){
                        // background-color: red;
                        // background-color: lime;
                        border-bottom: 1px solid $border_color;
                    }
                }
                .max {
                    max-width: initial !important;
                }
                .narrow-center {
                    display: flex;
                    justify-content: center;
                }
                &:nth-child(2) {
                    .row {
                        ul {
                            li {
                                line-height: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    header {
        .header-c {
            display: none !important;
        }
    }
    #form-box {
        .row {
            .row {
                .col-sm-6 {
                    &:nth-child(2) {
                        padding-right: 15px;
                    }
                    &:nth-child(3) {
                        padding-left: 15px;
                        padding-right: 10px;
                    }
                }
            }
            .last-group {
                .input-container {
                    .input-width {
                        padding-right: 15px;
                        padding-left: 10px !important;
                    }
                }
                .last {
                    margin-top: 0.5rem !important;
                    .btn-primary {
                        margin-top: 30px !important;
                    }
                }
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
    header {
        .logo {
            margin-top: 10px;
            margin-left: 70px;
            img {
                height: 45px;
            }
        }
        .header-r {
            justify-content: space-between;
            .header-user-welcome {
                font-size: 0.7rem !important;
                margin-right: auto !important;
            }
            .message-menu {
                width: 200px !important;
            }
            .notification-menu {
                width: 200px !important;
            }
            ul {
                width: 100%;
            }
        }
    }
    #navbar {
        position: absolute;
        top: 10px;
        box-shadow: none !important;
        .col-2 {
            .btn {
                .svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
        .col-9 {
            display: none;
        }
        .col-1 {
            display: none !important;
        }
    }
    #form-box {
        .container {
            .row {
                .col-sm-6 {
                    // onemli
                    max-width: 50%;
                    .input-group {
                        .form-control {
                            font-size: 0.8rem !important;
                        }
                    }
                }
                .last-group {
                    .input-container {
                        .input-width {
                            font-size: 0.8rem !important;
                        }
                    }
                }
            }
        }
    }
    #extra-orders {
        .btn {
            font-size: 0.8rem;
        }
    }
    #product-details {
        .wrapper {
            .row {
                .row {
                    .mw-100 {
                        max-height: 50px;
                    }
                }
            }
        }
    }
    #total {
        .col-sm-auto {
            .d-flex {
                justify-content: initial !important;
            }
        }
    }
    footer {
        .sm-d {
            display: none;
        }
    }
}
