@import "settings";
@import "orders-mediaqueries";

/*  OVERLAY
========================================== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    @include transition(333ms ease-in);
    &.show {
        opacity: 0.5;
        visibility: visible;
    }
}

#divider {
    .container {
        .row {
            .col-xl-10 {
                .inside {
                    border-bottom: 1px solid $border_color;
                }
            }
        }
    }
}

header {
    min-height: 90px !important;
    background-color: $header_blue;
    .logo {
        min-width: 180px;
    }
    .header-c {
        div {
            height: 90px;
            background-color: $light_blue !important;
            padding: 0 20px;
            color: $white;
            &::before {
                content: "";
                // padding-right: 200px;
                width: 30px;
                height: 20px;
                background: url("../../images/campaignmonitor.svg") 0 0 no-repeat;
            }
        }
    }
    .header-r {
        height: 90px;
        color: $white;
        .header-user-welcome {
            font-size: 14px;
            font-weight: 600;
            p {
                font-size: 12px;
                font-weight: 400;
            }
        }
        .message-menu {
            .menu-point {
                position: absolute;
                right: 0px;
                top: -16px;
                img {
                    float: right;
                }
            }
            width: 300px;
            min-height: 160px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 2px 3px $grey;
            padding: 20px;
            .message-bar {
                padding-top: 5px;
                padding-bottom: 5px;
                &:nth-child(n + 3) {
                    border-top: 1px solid $border_color;
                }
                li {
                    font-size: 14px;
                    font-weight: 400;
                    padding-bottom: 5px;
                    color: $grey;
                    height: 20px;

                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    h1 {
                        font-weight: 600;
                        font-size: 16px;
                        color: $black;
                    }
                }
            }
            ul {
                a {
                    font-weight: 400;
                    font-size: 14px;
                    color: $button_blue;
                }
            }
        }
        .notification-menu {
            .menu-point {
                position: absolute;
                right: 0;
                top: -16px;
                img {
                    float: right;
                }
            }
            width: 300px;
            min-height: 160px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 2px 3px $grey;
            padding: 20px;
            .notification-bar {
                padding-top: 5px;
                padding-bottom: 5px;
                &:nth-child(n + 3) {
                    border-top: 1px solid $border_color;
                }
                &:nth-child(2) {
                    // border-top: 1px solid $border_color;
                }
                li {
                    font-weight: 400;
                    font-size: 14px;
                    color: $grey;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    line-height: 20px;
                    img {
                        width: 10.5px;
                        height: 12.5px;
                    }
                    span {
                        margin-left: 10px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                    }
                }
            }

            ul {
                a {
                    font-weight: 400;
                    font-size: 14px;
                    color: $button_blue;
                }
            }
        }
        .warning-ellipse-wrapper {
            position: absolute;
            bottom: 2px;
            right: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
            }

            span {
                font-size: 10px;
                color: $white;
                position: absolute;
            }
        }
    }
}

#navbar {
    // height: 60px;
    line-height: 52px;
    box-shadow: 0px 0px 3px $grey;
    // position: relative;
    // z-index: 4;
    #nav {
        width: initial;
        overflow-x: auto;
        // @include scrollbar {
        //     height: 5px;
        //     background-color: #fff;
        //     border-radius: 10px;
        // }
        // @include scrollbar-thumb {
        //     background-color: $border_color;
        //     border-radius: 10px;
        //     &:hover {
        //         background-color: $grey;
        //     }
        // }
        .nav {
            width: 900px;
            .nav-item {
                .nav-link {
                    &:hover {
                        border-color: $light_blue;
                        color: $black;
                    }
                    padding: 0;
                    margin: 0 auto;
                    border-bottom: 3px solid transparent;
                    color: $grey;
                    font-size: 16px;
                    font-weight: 600;
                    // &:active {
                    //     border-color: $light_blue;
                    //     color: $black;
                    // }
                }
                .nav-link.active {
                    border-color: $light_blue;
                    color: $black;
                }
            }
        }
    }
    #NavRightButton {
        display: none;
    }
}

.menu-section {
    @include user-select-none;
    overflow-y: auto;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: none;
    width: 300px;
    height: 100%;
    box-shadow: 0 4px 4px $grey;
    background-color: $white;
    .menu-top {
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menu-kapat {
            margin-right: 10px;
            // width: 100%;
            // height: 100px;
            padding: 20px;
            position: relative;
            cursor: pointer;
            .line {
                position: absolute;
                width: 30px;
                height: 3px;
                top: 50%;
                left: 50%;
                // box-shadow: 0 1px 2px $black;
                @include transition(111ms);
                transform: translate(-50%, -50%);
                background: $black;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background: $black;
                    @include transition(222ms);
                }
                &:before {
                    top: -10px;
                }
                &:after {
                    top: 10px;
                }
            }
            &:hover .line {
                // opacity: 0;
                background-color: rgba(0, 0, 0, 0);
            }
            &:hover .line:before,
            &:hover .line:after {
                top: 0;
                background-color: black;
            }
            &:hover .line:before {
                transform: rotate(45deg);
            }
            &:hover .line:after {
                transform: rotate(-45deg);
                // width: 30px;
            }
        }
    }

    .menu-center {
        // background-color: #fff;
        ul {
            li {
                // display     : block;
                position: relative;
                font-weight: 500;
                font-size: 14px;
                color: $black;
                padding-left: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                box-shadow: 0px 0px 1px $border_color;
                cursor: pointer;
                .main-list-item span {
                    &:after {
                        content: "";
                        position: absolute;
                        margin-right: 15px;
                        top: 15px;
                        right: 0;
                        width: 6.751px;
                        height: 11.809px;
                        background: url("../../images/arrow-back.svg") 0 0 no-repeat;
                        @include transition(333ms);
                    }
                }
                &:hover .main-list-item span {
                    &:after {
                        transform: rotate(90deg);
                    }
                }
                &:hover {
                    color: $button_blue;
                }
                #svg_click path {
                    stroke: $black;
                    fill: $black;
                }
                svg {
                    width: 20px;
                }
                &:hover .main-list-item #svg_click,
                &:hover .main-list-item #svg_click path,
                &:hover .main-list-item rect {
                    stroke: $light_blue;
                    fill: $light_blue;
                }
                .submenu {
                    display: none;
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: -10px;
                    // margin-left: -15px;
                    // padding-left: 10px;
                    background-color: #fbfbfb;
                    box-shadow: 0 0px 3px $border_color inset;
                    li {
                        a {
                            span {
                                font-size: 14px;
                                font-weight: 500;
                                color: $grey;
                            }
                        }
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    .menu-bottom {
        // width: 100%;
        // height: 100px;
        // display: flex;
        // align-items: center;
        // background-color: #fff;
        ul {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
            padding-top: 15px;
            padding-left: 15px;
            li {
                a {
                    color: $button_blue;
                    font-size: 14px;
                }
            }
        }
    }
}

.menu-2 {
    display: flex;
    flex-direction: column;
    width: 280px;
    // min-height: 100vh;
    height: 100vh;
    padding: 20px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 2px $grey;
    // position: absolute;
    position: fixed;
    overflow-y: scroll;
    z-index: 5;
    right: 0px;
    top: 0;
    display: none;
    ul {
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: flex-start;
        li {
            margin: 0;
            padding: 0;
        }
    }
    .menu-2-part-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ul.menu-2-topic {
            li {
                h2 {
                    font-size: 12px;
                    // font-family: "poppins_light";
                    font-weight: 300;
                    color: $grey;
                }

                h1 {
                    font-size: 18px;
                    font-weight: 700;
                    // font-family: "poppins_bold";
                    color: $black;
                }
            }
        }

        ul.menu-2-button {
            li {
                a {
                    img {
                        margin-right: 30px;
                    }
                }
            }
        }
    }

    .menu-2-part-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border_color;

        ul.menu-2-links {
            // width              : 60%;
            // margin             : 10px auto;
            // display            : none;
            // box-shadow         : 0 0px 3px $b_color inset;
            li {
                // box-shadow: 0px 0px 1px $b_color;

                padding: 5px 0;

                // display: block;
                // width  : 100%;
                a {
                    // padding-right:40px ;
                    display: block;
                    font-weight: 500;
                    // font-family: "Poppins_medium";
                    font-size: 12px;
                    color: $grey;
                    span {
                        margin-left: 5px;
                    }
                }
            }
        }

        ul.menu-2-logo {
            li {
                a {
                    img {
                    }
                }
            }
        }
    }

    .menu-2-part-3 {
        // padding         : 20px;
        // background-color: blue;
        ul {
            // width           : 100%;
            // background-color: red;
            li {
                // padding         : 20px 40px;
                // background-color: #D2E7F8;
                border-radius: 10px;
                // display         : inline-block;
                // margin          : 10px;
                // float           : left;

                a {
                    // padding         : 10px;
                    padding-top: 90px;
                    // padding-left    : 10px;
                    // padding-right   : 10px;
                    width: 60px;
                    // height          : 80px;
                    display: inline-block;
                    margin: 5px;
                    text-align: center;
                    // background-color: red;
                    position: relative;
                    color: $grey;
                    font-weight: 600;
                    // font-family: "poppins_semibold";
                    font-size: 11px;

                    img {
                        // transform: translate(-50%, -50%);
                        // margin   : 10px;
                        position: absolute;
                        top: 10%;
                        left: 20%;
                    }
                }
            }
        }
    }

    .menu-2-part-4 {
        h3 {
            font-weight: 800;
            font-size: 14px;
            color: $light_blue;
            margin-top: 30px;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;

            li {
                margin-right: 5px;

                a {
                    // font-family: "poppins_bold";
                    font-weight: 700;
                    font-size: 14px;
                    color: $light_blue;
                    opacity: 0.6;
                    display: flex;
                    align-items: center;

                    &:hover {
                        opacity: 0.7;
                    }

                    &:active {
                        opacity: 1;
                    }

                    img {
                        margin-right: 2px;
                    }
                }
            }
        }
    }

    .menu-2-part-5 {
        margin-top: 30px;
        h3 {
            a {
                // font-family: "poppins_semibold";
                font-weight: 700;
                font-size: 14px;
                color: $light_blue;
            }
        }
    }
}

.orders-web-menu {
    padding-bottom: 15px;
    margin-top: 15px;
    background-color: #ffffff;
    // z-index: 5;
    overflow: hidden;
    width: 200px;
    height: 450px;
    position: absolute;
    // position: relative;
    // box-shadow: 0px 2px 3px $grey;
    // display: none;
    // visibility: hidden;
    ul.orders-web-menu-2-links {
        li {
            // padding: 10px;
            line-height: 40px;
            a {
                color: $grey;
                display: block;
                &:hover {
                    color: $black;
                }
                span {
                    font-weight: 500;
                    font-size: 14px;
                }
                img {
                    width: 15px;
                    margin-left: 15px;
                    margin-right: 10px;
                }
            }
        }
    }
    .orders-web-menu-2-support {
        li {
            a {
                padding-left: 15px;
                font-weight: 500;
                font-size: 14px;
                color: $light_blue;
            }
        }
    }
}

#location-bar {
    min-height: 100px;
    .location-left {
        margin-top: 40px;
        ul {
            li {
                font-size: 12px;
                font-weight: 400;
                span {
                    img {
                    }
                }
                &:not(:first-child) {
                    padding-left: 5px;
                    &:before {
                        content: ">";
                        font-size: 12px;
                        padding-right: 5px;
                    }
                }
                &:last-child a {
                    color: $grey;
                }
                a {
                    color: $button_blue;
                }
            }
        }
        h2 {
            font-weight: 600;
            font-size: 16px;
        }
    }
    .location-right {
        ul {
            width: 220px;
            li {
                a {
                    font-weight: 800;
                    font-size: 14px;
                    color: $button_blue;
                    opacity: 0.6;
                    &:hover {
                        opacity: 1;
                    }

                    &:focus {
                        opacity: 1;
                    }
                    img {
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

#form-box {
    padding: 20px 0;
    @include user-select-none;
    .row {
        .row {
            .col-sm-6 {
                &:first-child {
                    padding-left: 15px;
                }
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
    .input-group {
        height: 30px;
        input {
            @include placeholder-shown {
                color: lime;
            }
            @include placeholder {
                color: $grey;
            }
        }
        // input:placeholder-shown {
        //     border: 5px solid red;
        // }
        .form-control {
            height: 30px;
            border: 0.5px solid $grey;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .last-group {
        .input-container {
            .input-width {
                height: 30px;
                font-size: 14px;
                font-weight: 400;
                padding-left: 10px;
            }
            .last {
                margin-top: 0.5rem;
                .btn-primary {
                    margin-top: 30px;
                    border-radius: 10px;
                }
            }
            .open-extra-status {
                line-height: 30px;
                color: $grey;
                label {
                    margin: 0;
                }
                label input {
                    position: absolute;
                    opacity: 0;
                }

                label span {
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    vertical-align: middle;
                    background: url("../../images/tick-circle.svg") left top no-repeat;
                }
                label.checked span {
                    background: url("../../images/tick-inside-circle.svg") no-repeat;
                }
            }
        }
    }
}

#extra-orders {
    padding: 20px 0;
    .row {
        position: relative;
        .extra-orders-border-1 {
            position: absolute;
            bottom: 0px;
            .inside {
                border-top: 1px solid $border_color;
            }
        }
    }
    .btn {
        label input {
            position: absolute;
            opacity: 0;
        }

        label span {
            display: inline-block;
            width: 19px;
            height: 19px;
            vertical-align: middle;
            background: url("../../images/tick-circle.svg") left top no-repeat;
        }
        label.checked span {
            background: url("../../images/tick-inside-circle.svg") no-repeat;
        }
    }
}

#options {
    padding: 20px 0;
    .btn-group {
        padding: 5px 15px;
        .btn {
            border-radius: 20px;
        }
    }
}

#product-details {
    padding-bottom: 40px;
    overflow: hidden;
    .wrapper {
        min-height: 170px;
        padding-top: 30px;
        color: $black;
        font-weight: 500;
        font-size: calc(0.3em + 0.7vw);
        .product-border-1 {
            position: absolute;
            bottom: 0px;
            .inside {
                border-top: 1px solid $border_color;
            }
        }
        .product-border-2 {
            position: absolute;
            bottom: 90px;
            .inside {
                border-top: 1px solid $border_color;
            }
        }
        &:hover {
            // background-color: $hover;
        }
        .row {
            position: relative;
            .max {
                max-width: 330px;
            }
            .dropdown {
                cursor: pointer;
            }
            .btn {
                span {
                    padding-right: 30px;
                }
            }
            .btn-outline-secondary {
                &:hover {
                    background-color: #fff;
                    color: $grey;
                }
            }
            .hover-on {
                border-color: $light_blue;
                color: $light_blue;
                path {
                    fill: $light-blue;
                }
            }
            .hover-off {
                border-color: $grey;
                color: $grey;
            }
            .new-arrived-visible {
                display: inline-block;
            }
            .new-arrived-invisible {
                display: none;
            }
            .delivered-visible {
                display: inline-block;
            }
            .delivered-invisible {
                display: none;
            }
            .shipping-icon {
                display: none;
                padding: 5px;
            }
            .delivered-sub-menu {
                display: none;
                box-shadow: 0px 5px 10px $border_color;
                width: 160px;
                min-height: 166px;
                background-color: #fff;
                z-index: 2;
                position: absolute;
                padding: 10px;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    li {
                        font-size: 16px;
                        color: $black;
                    }

                    span {
                        font-size: 14px;
                        color: $grey;
                    }
                    &:last-child {
                        span {
                            font-size: 14px;
                            font-weight: 400;
                            color: $button_blue;
                        }
                    }
                }
            }
            &:nth-child(2) {
                .row {
                    ul {
                        li {
                            line-height: 40px;
                        }
                    }
                }
            }
        }
        label {
            margin: 0;
        }
        label input {
            position: absolute;
            opacity: 0;
        }

        label span {
            display: inline-block;
            width: 19px;
            height: 19px;
            vertical-align: middle;
            background: url("../../images/checkbox-outline.svg") left top no-repeat;
        }
        label.checked span {
            background: url("../../images/checkbox-outline-checked.svg") no-repeat;
        }
    }
}

#total {
    padding-top: 10px;
    padding-bottom: 10px;

    .col-sm-auto {
        .d-flex {
            justify-content: flex-end;
            min-width: 160px;
            float: right;
        }
    }
    .topic-black {
        padding-right: 10px;
    }
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .page-link {
        border: none;
        color: $grey;
        padding-left: 10px;
        padding-right: 10px;
        &:hover {
            color: $light_blue;
        }
    }
}